__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

.DS_Store
Thumbs.db
.log

logs/
temp/
results/
results_n20_v4/
results_n20_v5/
results_n20_v6/
results_n20_v7/
results_n50_v5/
results_n200_v1/
results_n100_v1/
results_n500_v4/
results_n500_v1/
results_n500_v3/
results_n500_v2/
results_n1000_easy/
results_n1000_easy_v1/
results_n2000_mid/
results_n1000_hard/
A100_v1/
A500_v1/
A500_v2/
A500_v3/
A500_v4/
A500_v4_instruct/
A500_v4_thinking/
A200_v1/
api/
api_v1/
output/
geochain.log
MathGeo.log
.log

.idea/
.vscode/
*.swp