__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

.DS_Store
Thumbs.db

logs/
temp/
results/
results_n200_v1/
results_n100_v1/
A100_v1/
A500_v1/
A200_v1/
api/
api_v1/
output/
results_n500_v1/
results_n100_v1/
results_n500_v3/
geochain.log
MathGeo.log

.idea/
.vscode/
*.swp