__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

.DS_Store
Thumbs.db
.log

logs/
temp/
results/
results_n20_v4/
results_n20_v5/
results_n200_v1/
results_n100_v1/
A100_v1/
A500_v1/
A500_v2/
A200_v1/
api/
api_v1/
output/
results_n500_v1/
results_n100_v1/
results_n500_v3/
results_n500_v2/
geochain.log
MathGeo.log
.log

.idea/
.vscode/
*.swp